/* Reset & Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', serif; /* set font to Space */
  line-height: 1.6;
  background: #f0f2f5; /* Softer background */
  color: #333;
  cursor: url('/img/stickman2.png'),auto;
}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}



/* Header & Navigation */
header {
  background: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo a {
  font-size: 1.8em;
  font-weight: 700;
  text-decoration: none;
  color: #007acc; /* Blue accent */
}
nav .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav .nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav .nav-links li a:hover {
  color: #007acc;
}

/* Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px;
  background: #fff;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  user-select: none;
}
.hero-text {
  flex: 1;
  min-width: 350px;
  padding: 20px;
}
.hero-text h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #007acc;
}
.hero-text h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
.hero-text h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #777;
  font-style: italic;
}
.hero-text p {
  margin-bottom: 25px;
  font-size: 1.1em;
}
.hero-text .btn {
  display: inline-block;
  padding: 12px 25px;
  background: #007acc;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.hero-text .btn:hover {
  background: #005fa3;
}
.hero-image {
  flex: 1;
  min-width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 10px solid #007acc;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.hero-image img:hover {
  transform: scale(1.05);
}

/* Sections */
section {
  padding: 60px 20px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #007acc;
}

/* Skills Section */
.skill-group {
  margin-bottom: 40px;
}
.skill-group h3 {
  margin-bottom: 40px;
  font-size: 1.8em;
  text-align: center;
  color: #333;
}
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  /* background: #ffffff; */
  padding: 20px;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 130px;
  align-items: center;
  margin: 20px;
  user-select: none;
}

.skill-card img {
  max-width: 70px; /* Reduced image size */
  margin-bottom: 10px;
  pointer-events: none;
  user-select: none;
}
.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Experience Section */
.experience-item {
  margin-bottom: 40px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.experience-item h3 {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: #007acc;
}
.experience-item .date {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}
.experience-item h4 {
  margin-bottom: 10px;
  font-weight: 600;
}
.experience-item ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Projects Section */
.projects .project-item {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.projects .project-item:hover {
  transform: translateY(-5px);
}
.projects .project-item h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #007acc;
}
.projects .project-item p {
  margin-bottom: 10px;
  font-size: 1em;
  color: #555;
}
.projects .project-item a {
  display: inline-block;
  margin-right: 15px;
  color: #007acc;
  text-decoration: none;
  transition: color 0.3s ease;
}
.projects .project-item a:hover {
  color: #005fa3;
}

/* Socials Section */
.socials .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.socials .social-links a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.socials .social-links a img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}

/* Robot Styling */
#robots {
  padding: 40px;
}
.robot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.robot {
  position: relative;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
  user-select: none;
}
.robot:hover {
  transform: scale(1.05);
}
.robot-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  user-select: none;
}
.contribution-level {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
}
.robot-info {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
}
.robot:hover .robot-info {
  display: block;
}
/* Contact Form Styling */

#contact {
  /* transition: all 0.3s ease; */
  --color-text-action: #0066ff;
  --color-text-on-color: #ffffff;
  --color-border: #d9d9d9;
  --color-border-hover: #8c8c8c;
  --color-border-dark: #8c8c8c;
  --color-surface: #ffffff;
  --color-surface-muted: #f0f0f0;
  --color-surface-hover: #f5f5f5;
  --color-surface-active: #ebebeb;
  --color-surface-inverted: #1c1c1c;
  --color-surface-inverted-hover: #333333;
  --color-surface-inverted-muted: #2e2e2e;
  --color-primary: #1371ff;
  --color-primary-hover: #0052cc;
  --color-primary-muted: #cce0ff;
  --color-secondary: #ff6600;
  --color-secondary-hover: #cc5200;
  --color-secondary-muted: #ffd9b3;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --line-height-base: 1.5;
  --line-height-heading: 1.25;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --border-radius-sm: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

#contact .fs-toggle-button {
  padding: var(--spacing-sm) var(--spacing-base);
  background-color: var(--color-primary);
  color: var(--color-text-on-color);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius-base);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-family-body);
}

.formspree-wrapper {
  --color-text-body: #2e2e2e;
  --color-text-heading: #1c1c1c;
  --color-text-subtle: #595959;
  --color-text-action: #0066ff;
  --color-text-on-color: #ffffff;
  --color-border: #d9d9d9;
  --color-border-hover: #8c8c8c;
  --color-border-dark: #8c8c8c;
  --color-surface: #ffffff;
  --color-surface-muted: #f0f0f0;
  --color-surface-hover: #f5f5f5;
  --color-surface-active: #ebebeb;
  --color-surface-inverted: #1c1c1c;
  --color-surface-inverted-hover: #333333;
  --color-surface-inverted-muted: #2e2e2e;
  --color-primary: #1371ff;
  --color-primary-hover: #0052cc;
  --color-primary-muted: #cce0ff;
  --color-secondary: #ff6600;
  --color-secondary-hover: #cc5200;
  --color-secondary-muted: #ffd9b3;
  --color-success: #00b33c;
  --color-success-hover: #009933;
  --color-success-muted: #ccf2d9;
  --color-error: #ff1a1a;
  --color-error-hover: #e60000;
  --color-error-muted: #ffd6cc;
  /* --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-heading: "Poppins", system-ui, sans-serif; */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --line-height-base: 1.5;
  --line-height-heading: 1.25;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --border-radius-sm: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.formspree-wrapper .fs-form {
  display: grid;
}

.formspree-wrapper .fs-form {
  display: grid;
  gap: var(--spacing-base);
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  color: var(--color-text-body);
  margin: var(--spacing-base);
}

.formspree-wrapper .fs-label {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-weight: 500;
  color: var(--color-text-heading);
}

.formspree-wrapper .fs-input,
.formspree-wrapper .fs-textarea {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-base);
  font-family: var(--font-family-body);
  background-color: var(--color-surface);
  color: var(--color-text-body);
}

.formspree-wrapper .fs-input:focus,
.formspree-wrapper .fs-textarea:focus {
  border-color: var(--color-border-hover);
  outline: none;
  box-shadow: var(--box-shadow-sm);
}

.formspree-wrapper .fs-description {
  font-size: var(--font-size-sm);
  color: var(--color-text-subtle);
  margin-top: var(--spacing-xs);
}

.formspree-wrapper .fs-button-group {
  margin-top: var(--spacing-sm);
}

.formspree-wrapper .fs-button {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-primary);
  color: var(--color-text-on-color);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius-base);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-family-body);
}

.formspree-wrapper .fs-button:hover {
  background-color: var(--color-primary-hover);
}


/* Back to Home Link */
.back-link {
  display: inline-block;
  margin: 20px 0;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}

/* embedded sites*/
.iframe-container {
  position: relative;
  left: 25%;
  margin-bottom: 2em;
}

.embed {
  width: 50%;
  height: 600px;
  /* border: 1px solid #ccc; */
  transition: opacity 0.3s ease, height 0.3s ease;
  
}

.fullscreen-btn {
  position: relative;
  top: -550px;
  right: 60px;
  font-size: 1.2em;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  background-color: rgba(36, 36, 36, 0.15);
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0.25em;
}

.toggle-embeds-btn {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  padding: 0.5rem 1rem; /* var(--spacing-sm) var(--spacing-base); */
  background-color: #1371ff; /* var(--color-primary); */
  color: #ffffff; /* var(--color-text-on-color); */
  font-size: 1rem; /* var(--font-size-base); */
  border: none;
  border-radius: 0.25rem; /* var(--border-radius-base); */
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: var(--font-family-body);
}

/* Hidden state for embeds and fullscreen buttons */
.hide-embeds .embed,
.hide-embeds .fullscreen-btn {
  display: none;
}

